<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link" style="background-color: #37c376"><a href="{{site.baseurl}}/">{{site.title}}</a></li>
              <li class="link"><a href="{{site.baseurl}}/about/">About</a></li>
              <li class="link"><a href="{{site.baseurl}}/archive/">Archive</a></li>
              <li class="dropdown link">
                <a href="#" class="dropbtn">Dropdown ↓</a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
               
                </div>
              </li>
               <li class="link"><a href="{{site.baseurl}}/contact/">Contact</a></li>
            </ul>
    </nav>
</div>